---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
  labels:
    toolkit.fluxcd.io/tenant: sre
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 24h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 30m
  chart:
    spec:
      chart: ingress-nginx
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
      interval: 12h
  values:
    controller:
      service:
        externalIPs:
          - 172.16.82.26
          - 172.16.82.106
      podAnnotations:
        prometheus.io/scrape: "true" 
        prometheus.io/port: "10254" 
      metrics:
        enabled: true
      config:
        log-format-escape-json: "true"
        log-format-upstream: '{"timestamp": "$time_iso8601", "requestID": "$req_id", "proxyUpstreamName":
          "$proxy_upstream_name","upstreamStatus":
          "$upstream_status", "upstreamAddr": "$upstream_addr","httpRequest":{"requestMethod":
          "$request_method", "requestUrl": "$host$request_uri", "status": $status,"requestSize":
          "$request_length", "responseSize": "$upstream_response_length", "userAgent": "$http_user_agent",
          "remoteIp": "$remote_addr", "referer": "$http_referer", "latency": "$upstream_response_time s",
          "protocol":"$server_protocol"}}'
        enable-real-ip: true